astroid==2.7.2
autopep8==1.5.7
certifi==2021.5.30
chardet==3.0.4
idna==2.8
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.2.0
pycodestyle==2.7.0
pylint==2.10.2
requests==2.22.0
toml==0.10.2
urllib3==1.25.11
wrapt==1.12.1
